body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin-top: 0;
  font-family: 'Sacramento', serif;
}

h2{
  font-family: 'Montserrat', serif;
  font-size: 250%;
}

h3{
  font-family: 'Montserrat', serif;
}

.top{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}

.profile{
  padding-top: 42px;
  margin-bottom: 42px;
}

.profile-img{
  width: 12%;
  border-radius: 100%;
  height: auto;
}

.web-img{
  width: 10%;
}

.android-img{
  width: 8%;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position:absolute;
  left: 300px;
  bottom: 300px;
}

.skills{
  position: relative;
}

.skill-row-web{
  position: relative;
  right: 15%;

}
.skill-row-android{
  position: relative;
  left: 15%;
}

.myskills{
  padding-bottom: 50px;
}

.contact-me{
  padding-bottom: 30px;
}

.intro{
  font-size: 250%;
}

.web-dev{
  font-size: 150%;
  position: relative;
  left: 2%;
}
